<div class="white-space"></div>
<nav>
    <div class="nav">
        <a class="title" href="/">台北一日遊</a>
        <button class="ham"><i class="fas fa-bars"></i></button>
        <div class="nav-link">
            <a href="/member" class="member-page">會員頁面</a>
            <a href="/booking" class="booking-page">預定行程</a>
            <div id="to-sign-btn" class="show">登入/註冊</div>
            <div id="signout-btn">登出系統</div>
        </div>
    </div>
</nav>

<section class="sign-bg">
    <div class="sign-container show">
        <div class="top-bar"></div>
        <div class="main-content">
            <form id="signin">
                <h3 class="form-title">登入會員帳號
                    <div class="close-btn">✕</div>
                </h3>
                <div class="form-content">
                    <input type="email" placeholder="輸入電子信箱" name="email" required>
                    <input type="password" placeholder="輸入密碼" name="password" required>
                    <button type="submit">登入帳戶</button>
                </div>
                <p class="message"></p>
                <p class="change-sign">還沒有帳戶？點此註冊</p>
            </form>
        </div>
    </div>
    
    <div class="sign-container">
        <div class="top-bar"></div>
        <div class="main-content">
            <form id="signup">
                <h3 class="form-title">註冊會員帳號
                    <div class="close-btn">✕</div>
                </h3>
                <div class="form-content">
                    <input type="text" placeholder="輸入姓名" name="name" required>
                    <input type="email" placeholder="輸入電子信箱" name="email" required>
                    <input type="password" placeholder="輸入密碼" name="password" required>
                    <button type="submit">註冊帳戶</button>
                </div>
                <p class="message"></p>
                <p class="change-sign">已經有帳戶了？點此登入</p>
            </form>
        </div>
    </div>
</section>