<!DOCTYPE html>
<html>
<head>
    <%- include('basic/head') %>
    <link rel="stylesheet" href="/css/member.css">
    <title>會員頁面</title>
</head>
<body>
    <%- include('basic/nav') %>
    <main>
        <h3 class="headline">您的歷史訂單如下：</h3>
        <div class="seperator"></div>
        <div class="orders">
            
        </div>
    </main>
    <%- include('basic/footer') %>
    <%- include('basic/js') %>
    <script src="/js/member.js"></script>
</body>
</html>