footer{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #757575;
}

.fixed-bottom{
    position: absolute;
}

footer>p{
    text-align: center;
    width: 300px;
    font-weight: 700;
    margin: 0 auto;
    color: #ffffff;
}